# Serverless Framework
.serverless/
*.serverless/

# Node modules (if using npm for any dependencies)
node_modules/

# Python environment and dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/

# Python distribution package
dist/
build/

# My own backup folder
backup/